html, body, img, nav, li, a {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Keep Calm';
    src: url('../fonts/KeepCalm-Medium.otf');
    src: local('☺'), url('../fonts/KeepCalm-Medium.otf') format('woff'), url('../fonts/KeepCalm-Medium.ttf') format('truetype');
}
body{
    background-color: #3d573a;
}
a, h1, h2, h3, footer{
    font-family: "Keep Calm", Serif, sans-serif;
    text-decoration: none;
    text-align: center;
    color: antiquewhite;
}
h1 {
    margin-top: -1%;
    font-size: 300%;
}
pre{
    color: antiquewhite;
}
strong{
    color: orange;
}
li{
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
}
div{
    display: inline;
}
#image{
    position: absolute;
    display: inline;
    float: left;
}
.centred-img{
    display: block;
    margin: 0 auto;
    margin-top: 3%;
}
#grumpy-index{
    width: 200px;
    height: auto;
}
#friend{
    height: 600px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url('../imgs/friend.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
section{
    align-content: center;
    display: block;
}

/* wrapper - profile page only*/
#wrapper{
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    margin-top: 3%;
    height: 50%;
    width: 70%;
    background-color: rgba(0,0,40,0.4);
    border: 1px solid antiquewhite;
}
nav, footer{
    height: 50px;
    margin-top: 3%;
    position: relative;
    display: block;
    text-align: center;
    background-color: rgba(0,0,40,0.4);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.big{
    height: 130px;
}