html, body, head, header, nav, ul, li, div, span, a {
  margin: 0;
  padding: 0;
  font-family: "Verdana", "Helvetica"; }

body {
  margin: 10px; }

#wrapper {
  margin: 0 auto;
  width: 100%;
  border: 1px dotted gray;
  align-content: center; }

ul {
  margin-left: 30px; }

li {
  display: inline-block;
  margin: 10px;
  width: 100px;
  height: 100px;
  line-height: 20px;
  text-align: center;
  vertical-align: top; }
  li:hover {
    background-color: #d0e0ec;
    background-size: cover;
    border-radius: 5px; }

h1 {
  background-color: #e9f5fe;
  padding: 10px;
  margin: 5px;
  border: 1px dotted gray;
  color: #125675; }

h2 {
  color: #2abbf5;
  font-size: 1em;
  padding-left: 5px; }

a {
  display: block;
  text-decoration: none;
  font-size: 14px; }

img {
  position: top; }
