html, body, div, span, canvas, form, input {
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../imgs/background.jpg');
    background-position: top left;
    overflow:hidden;
    font-family: 'Josefin Slab', serif;
}

#wrapper{
    max-width: 960px;
    margin: 0 auto;
    margin-top: 50px;
}

h1{
    color: #ffffff;
}

#geometry-api{
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    width: 350px;
    height: 500px;
    border: 1px solid black;
    float: left;
}

#drawArea{
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    border: 1px solid black;
}

.select-shape{
    background-color: #000000;
}

.select-shape > .btn{
    display: inline;
    text-align: center;
    padding: 10px 11px;
    font-size: 16px;
}

.add-shape{
    position: absolute;
    bottom: 0;
}

.btn{
    border: none;
    background: #000000;
    padding: 10px;
    color: #e1e1e1;
    font-size: 17px;
    text-decoration: none;
    vertical-align: middle;
}
.btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#00233b), to(#000000));
    background: -webkit-linear-gradient(top, #00233b, #000000);
    background: -moz-linear-gradient(top, #00233b, #000000);
    background: -ms-linear-gradient(top, #00233b, #000000);
    background: -o-linear-gradient(top, #00233b, #000000);
    color: #ffffff;
}

#add-shape-btn {
    padding: 10px 133px;;
}

.options > input{
    display: inline;
    width: 40px;
    margin: 10px;
}

form > label{
    line-height: 30px;
    text-align: center;
}

input[type=number]{
    max-width: 42px;
}

table{
    width: 100%;
    padding: 10px;
}

.right-column{
    text-align: right;
}

.rectangle{
    display: none;
}

#options-container{
    float: left;
}

#control-canvas{
    margin: 10px;
    position: absolute;
    bottom: 40px;
}

#control-canvas > input[type=button]{
    margin-left: 5px;
}

#control-canvas > #up-btn{
    background: url('../imgs/up.png') no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    border: none;
}

#control-canvas > #down-btn{
    background: url('../imgs/down.png') no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    border: none;
}

#control-canvas > #delete-btn{
    background: url('../imgs/delete.png') no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    border: none;
}