doctype html
html
    head
        meta(charset='utf-8')
        title Task 3 - Contact Form
        link(href='style.css', rel='stylesheet', type='text/css')
    body
        #wrapper
            form#sendMessage(method="post")
                label: input(class="name", type="text", name="name", autocomplete="on", placeholder="Name", required=true)
                label: input(class="email", type="email", name="email", autocomplete="on", placeholder="Email", required=true)
                label: textarea(type="text", name="comment", rows=5, placeholder="Comment", required=true )

                input.btn(type="submit", value="send")