body{
    width: 650px;
    height: auto;
    background-color: lightgrey;
}
h1, span{
    padding: 10px;
    display: inline;
}
pre{
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: white;
}
#wave{
    font-size: 2.5em;
    font-family: fantasy;
    padding-left: 50px;
    color: darkgray;
}
sup{
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}
sub{
    padding-left: 20px;
    padding-right: 20px;
    color:white;
}
img{
    width: 650px;
}