doctype html
html
    head
        meta(charset='utf-8'): title Task 1
        link(href='inc/style.css', rel='stylesheet', type='text/css')
    body
        table
            thead
                tr
                    th(colspan=2): h1 Software University
            tbody
                tr
                    td: a(href='https://softuni.bg')
                            img(alt='Software University Logo', src='inc/softuni.png', width='160px', heigth='160px')
                    td
                        strong Accessible and high quality software education.
                        br
                        | Our mission is to make people we train true professionals
                        | in the software industry and support them in finding employment.