<ul class="ads">
    <li ng-repeat="ad in ads.ads" class="box" data-id="{{ad.id}}">
        <h1>{{ad.title}}</h1>
        <div><strong>Date:</strong> {{ad.date | date:'dd-MMM-yyyy'}}</div>
        <div ng-if='ad.imageDataUrl'>
            <strong>Image:</strong><img class="ad-image" ng-src="{{ad.imageDataUrl}}" />
        </div>
        <div><strong>Text:</strong> {{ad.text}}</div>
        <div><strong>Name:</strong> {{ad.ownerName}}</div>
        <div><strong>Email:</strong> {{ad.ownerEmail}}</div>
        <div><strong>Phone:</strong> {{ad.ownerPhone}}</div>
    </li>
</ul>

<div ng-if="ads.ads.length==0" class="box no-data">
    No ads found.
</div>
