body, ul, li, a, div, img, p {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Tahoma, geneva, sans-serif; }

img {
  float: left;
  padding: 1px;
  margin-right: 7px;
  border: 1px solid black; }

ul {
  width: 340px; }
  ul li {
    border-bottom: 1px dashed lightgray;
    min-height: 100px;
    padding: 5px; }
    ul li strong a {
      text-decoration: none;
      color: black;
      font-size: 0.8em;
      display: block;
      padding-bottom: 3px;
      line-height: 110%; }
      ul li strong a:hover {
        text-decoration: underline; }
  ul li:last-child {
    border: none; }

.date {
  font-weight: bold;
  color: gray;
  font-size: 0.6em;
  padding-bottom: 2px; }

article {
  font-size: 0.75em;
  padding-bottom: 5px; }
