html, head, body, div, form, label, input, button, hr {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica", "sans-serif"; }

body {
  background-color: #f7f7f7; }

#wrapper {
  margin: 0 auto;
  margin-left: 70px;
  width: 780px; }
  #wrapper form {
    width: 550px;
    margin-bottom: 20px; }
  #wrapper #personal-details input {
    background-image: url("../imgs/field-icon.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 3px; }
  #wrapper fieldset {
    border: 1px dashed #b2b2b2; }
    #wrapper fieldset legend {
      padding: 5px;
      background-color: #666666;
      color: white;
      font-size: 0.8em;
      font-weight: bold; }
    #wrapper fieldset label {
      padding: 10px;
      background-color: #cccccc;
      width: 110px;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 3px;
      font-weight: bold;
      color: #666666; }
    #wrapper fieldset .box {
      display: inline-block;
      background-color: #e6e6e6;
      line-height: 38px;
      width: 350px; }
    #wrapper fieldset .submitBox {
      margin-left: 140px;
      border: 1px solid #e6e6e6;
      width: 350px;
      height: 40px;
      background-color: white; }
    #wrapper fieldset input {
      padding: 4px;
      margin: 5px;
      margin-right: 15px;
      padding-left: 25px;
      width: 300px;
      box-shadow: 2px;
      font-size: 14px; }
    #wrapper fieldset .btn {
      position: absolute;
      margin-top: 5px;
      margin-left: 250px;
      text-transform: uppercase;
      background-color: #e6e6e6;
      border-bottom: 2px solid #cccccc;
      border-right: 2px solid #cccccc;
      color: #989070;
      width: 75px;
      height: 30px;
      font-size: 11px;
      font-weight: bold; }
    #wrapper fieldset .username {
      background-image: url("../imgs/username-icon.png");
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 3px; }
    #wrapper fieldset .pass {
      background-image: url("../imgs/password-icon.png");
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 3px; }
  #wrapper aside {
    position: relative;
    float: right;
    margin-top: 13px;
    background-color: white;
    display: inline-block;
    width: 210px;
    height: 380px;
    overflow: auto;
    border: 1px solid #cccccc; }
    #wrapper aside h2, #wrapper aside p {
      padding-left: 10px;
      padding-right: 10px;
      font-family: "helvetica";
      color: #666666; }
    #wrapper aside h2 {
      font-size: 18px; }
    #wrapper aside p {
      font-size: 12px;
      line-height: -15px; }

hr {
  border: 1px dashed #cccccc;
  width: 520px;
  margin-bottom: 20px; }

h1 {
  color: #666666;
  font-size: 22px; }
