body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
table, tr, td, th{
    border: 1px solid black;
    width: 400px;
}
h2{
    margin: 0;
}
thead{
    font-weight: bold;
}
tfoot{
    text-align: right;
}
.number{
    width: 100px;
}
.score{
    width: 150px;
}