doctype html
html
    head
        meta(charset='utf-8')
        title Task 5 - Life In SoftUni
        link(href='style.css', rel='stylesheet', type='text/css')
    body
        table#main
            tr
                th(colspan=4): h1 SoftUni LIFE
            tr.up
                td.left(colspan=2) Google
                td.right(colspan=2) Github
            tr
                td.up   FB
                td.left GMail
                td.down Youtube
                td.left 2048
            tr.down
                td.right Food
                td.left(colspan=2) Game
                td
                    table#sub
                        tr.half
                            td Social Life
                        tr.half
                            td Sleep
            tr
                td.right(colspan=3): h2 Beer >
                td.left WC